




body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f7f7f7;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.login{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    /* height: 100vh; */
}

/* Header */
.header {
    background: #003366;
    color: #fff;
    padding: 20px 0px;
    text-align: center;
    /* position: relative; */
}
.login-header {
    background: #003366;
    color: #fff;
    padding: 20px 0px;
    text-align: center;
    /* position: absolute; */
    top: 0;
    width: 100%;
}


.login-button {
    position: absolute;
    top: 48px;
    right: 20px;
    background: #003366;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    text-decoration: none;
}

.upper-nav{
    position: absolute;
    top: 10%;
    color: #fff;
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: flex-end;
}

.logoutbtn{
    color: white;
    text-decoration: none;
    padding: 0 10px;
}

.user-menu {
    position: absolute;
    top: 25px;
    right: 20px;
    display: flex;
    align-items: center;
    /* margin-bottom: 20px; */
}
.home {
    position: absolute;
    top: 34px;
    left: 20px;
    display: flex;
    align-items: center;
}
/* .login-header .user-menu{
    right: 40px;
} */
.user-menu img {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
    background: #f7f7f7;
}
.home img {
    /* border-radius: 50%; */
    width: 40px;
    height: 40px;
    cursor: pointer;
    /* background: #f7f7f7; */
}
.dropdown, .upper-nav {
    position: relative;
    display: inline-block;
    padding-right: 20px;
}
.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: #f1f1f1;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown:hover .dropbtn {
    background-color: #78ceff;
}


/* Sidebar */
.sidebar {
    background: #e6e6e6;
    padding: 20px;
    /* width: 20%; */
    width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
    width: -moz-available;          /* WebKit-based browsers will ignore this. */
    max-width: 220px;
    /* height: 100%; */
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    /* overflow: auto; */
}
.sidebar-item {
    color: #003366;
    text-decoration: none;
    font-weight: bold;
    display: block;
    /* margin-bottom: 10px; */
    border-bottom: 1px solid #ccc; /* Add border */
    padding: 10px 0; /* Add padding */
}

/* Container */
.container {
    display: flex;
    flex: 1;
}
.form-container {
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.form-group {
    margin: 20px 0;
}
.form-group label {
    display: block;
    margin-bottom: 5px;
}
.form-group input[type="text"], .form-group select, .form-group textarea, .form-group input[type="password"] {
    width: calc(100% - 22px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
.form-group .radio-group {
    display: flex;
    align-items: center;
    /* padding: 10px 0; */
}
.form-group .radio-group label {
    margin-left: 10px;
    margin-right: 20px;
    margin-top: 5px;
}
.form-group .radio-group input {
    margin-left: 20px;
}

.form-group textarea {
    height: 100px;
    resize: vertical;
}
.form-group .inline-group {
    display: flex;
    justify-content: space-between;
}
.form-group .inline-group > div {
    flex: 1;
    margin-right: 10px;
}
.form-group .inline-group > div:last-child {
    margin-right: 0;
}

.form-group .help-text {
    margin-top: 5px;
    font-size: 12px;
    color: #666;
}
.submit-button {
    padding: 10px 20px;
    background: #003366;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
.submit-button:hover {
    background-color: #002244; /* Darken the background color on hover */
}

.submit-button:active {
    background-color: #001122; /* Further darken the background color on click */
}
.logout-button {
    background-color: #f1f1f1; /* Light gray background color */
    color: black; /* Black text color */
    border: 1px solid #ccc; /* Light gray border */
    padding: 5px 10px; /* Adjust padding */
    font-size: 14px; /* Adjust font size */
    cursor: pointer; /* Change cursor to pointer */
    border-radius: 3px; /* Slightly rounded corners */
}

.logout-button:hover {
    background-color: #e1e1e1; /* Slightly darker gray on hover */
}

.logout-button:active {
    background-color: #d1d1d1; /* Even darker gray on click */
}
.form-group .reference-upload {
    display: flex;
    align-items: center;
}
.form-group .reference-upload input[type="file"] {
    margin-left: 10px;
}





.main-content {
    /* width: 80%; */
    width: -moz-available;          /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
    padding: 20px;
    overflow: scroll;
}

/* .main-content h2 {
    margin-top: auto;
} */

 /* admin page welcome text */
.welcomebox{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;        
  }
.footer {
    background: #003366;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    /* position: absolute; */
    bottom: 0;
    width: 100%;
}


/* Table */
table {
    width: 100%;
    border-collapse: collapse;
}
.complaint-details {
    margin-top: 20px;
}
.complaint-details-single table{
    width: max-content;
}
.complaint-details-single table th, table td{
    width: max-content;
    min-width: 120px;
    max-inline-size: 314px;
    overflow-wrap: break-word;
}
table th, table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    /* min-width: 180px; */
}
table th {
    background-color: #003366;
    color: white;
}

/* Login page */
.login-container {
    background: #fff;
    /* border: 1px solid #ccc; */
    padding: 20px;
    width: 300px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: auto;
}
.login-img {
    width: inherit;
}
.login-container h2 {
    margin-bottom: 20px;
}
.login-container input {
    width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
    width: -moz-available;          /* WebKit-based browsers will ignore this. */
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
}
.login-container button {
    width: 100%;
    padding: 10px;
    background: #003366;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
.login-container button:hover {
    background: #002244;
}
.forgot-password {
    display: block;
    margin-top: 10px;
    color: #003366;
    text-decoration: none;
}
.forgot-password:hover {
    text-decoration: underline;
}

/*  Form Page  */
